$font-stack: Helvetica, sans-serif;
$headline-font: 'Raleway', sans-serif;
$header-color: #fff;
$box-color: #e4efdc;
$kontakt-color: #c8dad1;
$highlights-color: #f4f9f0;
$background-color: #f4f9f0;

$font-color: #000;

// colors: #cad2d5	#859298	#3c4951	#202529 #263228 #495e4d	#f0f1d1

@mixin border-bottom-transition($time) {
	-webkit-transition:border-bottom $time;
	-moz-transition:border-bottom $time;
	-ms-transition:border-bottom $time;
	-o-transition:border-bottom $time;
	transition:border-bottom $time;
}

html,
body,
ul,
ol {
	margin: 0;
	padding: 0;
}

/* .overlay {
	width:100vw;
	height:100vh;
	position:fixed;
	margin-top: -100px;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 10000;

	p {
		color: white;
		font-size: 30px;
	}

	div {
		width: 40vw;
		height: 20vh;
		margin: 40vh 30vw;
		text-align: center;
	}
} */

h1 {
	font-family: $headline-font;
}

body {
	width:100%;
	min-height:100vh;
	font: 100% $font-stack;
	background-color: $background-color;
}

header {
	width: 100%;
	height: 100px;
	background-color: $header-color;
	display: flex;
	position:fixed;
	top:0;
	border-bottom: 1px solid #d6d6d6;

	.logo-wrapper {
		width: 120px;
		height: 100px;
		background-color: #fff;
		display: inline-block;
		margin:auto;
	}

	nav.main-menu {
		display: inline-block;
		width: 55%;
		padding-right: 15%;
		ul {
			height: 100%;
			display: flex;
			list-style: none;
			flex-flow: row wrap;
			justify-content: space-around;
			li {
				display: inline-block;
				margin:auto;
				a {
					text-decoration: none;
					text-transform: uppercase;
					color: $font-color;
					border-bottom: 3px solid transparent;
					font-size: 25px;
					@include border-bottom-transition(1s);

					&:hover {
						border-bottom: 3px solid #cbffc2;
						color: #cbffc2;
						@include border-bottom-transition(1s);
					}

					&:active {
						transform: translateY(4px);
					}
				}
			}
		}
	}
}

.banner {
	margin: 100px 10% 0 10%;
	background: url(baggrund.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	width: 80%;
	height: 600px;

	h1 {
		margin:0;
		padding: 13% 5% 10% 5%;
		text-align:center;
		font-size: 50px;
		color: #fff;
	}

	.box-wrapper {
		margin-top: 45px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
	}

	.box {
		background-color: $box-color;
		height: 220px;
		width: 30vw;
		border-radius:20px;
		box-shadow: 4px 4px 5px #cccccc;

		p {
			padding: 5%;
		}
	}
}

.kontakt {
	margin: 0 10%;
	background-color: $kontakt-color;
	width: 80%;
	height: 550px;

	h1 {
		margin:0;
		padding:4% 5% 3% 5%;
		text-align:center;
		font-size: 50px;
		color: #000;
	}

	.kontakt-wrapper {
		width: 80%;
		margin: 0 10%;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;

		.kontakt-img {
			width: 40%;
			height: 300px;
			background: url(simone.jpg);
			background-repeat: no-repeat;
			background-size: auto 100%; 
			background-position:center;
		}

		.kontakt-text {
			width: 40%;
			height: auto;
			background-color: $box-color;
			border-radius: 20px;
			box-shadow: 4px 4px 5px #a7a7a7;

			p {
				padding:0 7%;
			}

			button {
				margin-top: 6%;
			}
		}
	}
}

.highlights {
	margin: 0 10%;
	background-color: $highlights-color;
	width: 80%;
	height: 700px;

	h1 {
		margin:0;
		padding:10% 5%;
		text-align:center;
		font-size: 50px;
		color: #000;
	}
}

footer {
	background-color: #f4f9f0;
	nav {
		display: inline-block;
		width: 80%;
		margin:0 10%;
		height: 75px;
		ul {
			height: 100%;
			display: flex;
			list-style: none;
			flex-flow: row wrap;
			justify-content: space-around;
			li {
				display: inline-block;
				margin:auto;
				a {
					text-decoration: none;
					text-transform: uppercase;
					color: $font-color;
					border-bottom: 1px solid transparent;
					@include border-bottom-transition(1s);

					&:hover {
						border-bottom: 1px solid black;
						@include border-bottom-transition(1s);
					}
				}
			}
		}
	}
}

button {
    padding: 1% 4%;
    display: block;
    border-radius: 20%;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px #3c8c3f;
    margin: auto;

	&:hover {
		background-color: #3e8e41;
	}

	&:active {
		background-color: #3e8e41;
		box-shadow: 0 5px #666;
		transform: translateY(4px);
	}
}